In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('dataset/katalog_gempa_v2.tsv',sep = '\t') 
df

/var/folders/k9/nnh55_7j45v1sp0815yn_sxw0000gn/T/ipykernel_56574/740773050.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset/katalog_gempa_v2.tsv',sep = '\t')

,eventID,datetime,latitude,longitude,magnitude,mag_type,depth,phasecount,azimuth_gap,location,...,doubleCouple,clvd,strikeNP1,dipNP1,rakeNP1,strikeNP2,dipNP2,rakeNP2,azgapFM,misfit
0,bmg2008vkye,2008-11-01 00:31:25.143741+00:00,-0.604440,98.895531,2.989742,MLv,20,6.0,146.707380,"Southern Sumatra, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bmg2008vlag,2008-11-01 01:34:29.660856+00:00,-6.611860,129.387220,5.507549,mb,30,62.0,45.467640,Banda Sea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bmg2008vlaj,2008-11-01 01:38:14.802129+00:00,-3.650586,127.990680,3.539674,MLv,5,4.0,331.974040,"Seram, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bmg2008vlbt,2008-11-01 02:20:05.909515+00:00,-4.198925,128.097000,2.424314,MLv,5,5.0,326.379930,Banda Sea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bmg2008vlcd,2008-11-01 02:32:18.756155+00:00,-4.091891,128.200470,2.410045,MLv,10,5.0,314.654740,Banda Sea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117246,bmg2024xdfu,2024-11-25 01:39:36.657199+00:00,-9.609527,118.552315,3.496290,M,43,20.0,197.765923,"Sumbawa Region, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117247,bmg2024xdgj,2024-11-25 01:56:22.450273+00:00,1.494929,128.375214,2.760152,M,10,11.0,184.779053,"Halmahera, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117248,bmg2024xdgx,2024-11-25 02:13:37.208619+00:00,1.187977,124.155006,3.587475,M,10,20.0,165.923042,"Minahassa Peninsula, Sulawesi",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117249,bmg2024xdie,2024-11-25 02:51:49.605606+00:00,-9.976059,118.790207,3.937111,M,10,31.0,199.995628,"Sumbawa Region, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117250,bmg2024xdlm,2024-11-25 04:31:41.488329+00:00,3.235618,96.341194,3.221563,M,10,18.0,230.370857,"Northern Sumatra, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN