## Exploratory Data Analysis

In [82]:
import pandas as pd
import numpy as np

In [83]:
df = pd.read_csv("dataset/earthquake_clean.csv")
df

,date,timestamp,latitude,longitude,depth,magnitude,location
0,2008-11-01,21:02:43.058000,-9.18,119.06,10,4.9,Sumba Region
1,2008-11-01,20:58:50.248000,-6.55,129.64,10,4.6,Banda Sea
2,2008-11-01,17:43:12.941000,-7.01,106.63,121,3.7,Java
3,2008-11-01,16:24:14.755000,-3.30,127.85,10,3.2,Seram
4,2008-11-01,16:20:37.327000,-6.41,129.54,70,4.3,Banda Sea
...,...,...,...,...,...,...,...
92882,2023-01-26,02:25:09.288000,3.24,127.18,10,4.0,Talaud Islands
92883,2023-01-26,02:15:03.893000,2.70,127.10,10,3.9,Northern Molucca Sea
92884,2023-01-26,01:57:08.885000,-7.83,121.07,10,3.8,Flores Sea
92885,2023-01-26,01:46:21.009000,3.00,127.16,10,4.1,Northern Molucca Sea
92886,2023-01-26,00:00:35.181000,-8.87,118.95,10,2.4,Sumbawa Region

In [84]:
# average depth and magnitude
avg_depth = df["depth"].mean().round(2)
print(f"Average Depth: {avg_depth}")

avg_magnitude = df["magnitude"].mean().round(2)
print(f"Average Magnitude: {avg_magnitude}")

Average Depth: 49.01
Average Magnitude: 3.59

In [85]:
# count of magnitude intensities
df_mag = pd.DataFrame({"magnitude old" : df["magnitude"], "Magnitude" : df["magnitude"].apply(np.floor)})
mag_count = df_mag.groupby("Magnitude").size().reset_index(name="Number of Earthquakes")
mag_count

   Magnitude  Number of Earthquakes
0        1.0                   1093
1        2.0                  20682
2        3.0                  40780
3        4.0                  25256
4        5.0                   4670
5        6.0                    367
6        7.0                     39